* {
  text-align: center;
  margin: 0;
  padding: 0;
}
h1 {
  background-color: black;
  color: beige;
  height: 5rem;
  
}
.choice{
    height: 180px;
    width: 180px;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 5rem;
}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;
}

.score-board{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    gap: 5rem;
}
#user-score, #comp-score{
    font-size: 3rem;
}
.msg-container{
    margin-top: 5rem;
}
#msg{
    font-size: 2.4rem;
    color: beige;
    background-color: black;
    display:inline-block;
    padding: 1rem;
    border-radius: 1rem;
}